
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Curso de ASP.NET MVC</title>
</head>
<body>
    <div> 
        <h2>Sistema de Controle de Produtos</h2>
        Aula de ASP.NET MVC - Turma de Sábado
        <br />
        <a href="/Home/Index">Página Inicial</a>
        <hr />

        @RenderBody()
    </div>
</body>
</html>
