
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Seja bem-vindo ao Projeto!</h3>
        <br />

        <p>Selecione a ação desejada: </p>
        <ul>
            <li><a href="/Estoque/Cadastro">Cadastrar Estoque</a></li>
            <li><a href="/Estoque/Consulta">Consultar Estoque</a></li>
        </ul>

        <ul>
            <li><a href="/Produto/Cadastro">Cadastrar Produto</a></li>
            <li><a href="/Produto/Consulta">Consultar Produto</a></li>
        </ul>
    </div>
</body>
</html>
